<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title>Skyrim</title>
</head>
<body>

    <div class="container">

        <div class="row">
            <section class="col-12">
    
                <nav class="breadcrumb fixed-top">
                    <a class="breadcrumb-item" href="{{url_for('home')}}">Home</a>
                    <a class="breadcrumb-item" href="{{url_for('skyrim')}}">Skyrim Alchemy</a>
                    <span class="breadcrumb-item active">Effects</span>
                </nav>

                <div class="mt-5">
                    <h1>Effects</h1>

                    <table class="table">
                        <tr>
                            <th>Name</th><th>Description</th><th>School</th><th>Type</th><th>Cost</th>
                        </tr>
                        <!-- sort? -->
                        {% for effect in effects %}
                        <tr>
                            <td><a href="{{url_for('skyrimEffect', name=effect.name)}}">{{effect.name}}</a></td><!-- link to effect -->
                            <td>{{effect.description}}</td>
                            <td><a href="{{url_for('skyrimEffects', school=effect.school)}}">{{effect.school}}</a></td><!-- link to effects of that school -->
                            <td><a href="{{url_for('skyrimEffects', type=effect.type)}}">{{effect.type}}</a></td><!-- link to effects of that type -->
                            <td>{{effect.cost}}</td>
                        </tr>
                        {% endfor %}
                    </table>
    
                    <!-- h3><a href="{{url_for('skyrim')}}">Back to Skyrim</a></h3 -->    
                </div>

                <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</section>
</div>

    </div>
</body>
</html>
