<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Skyrim</title>
</head>
<body>

<div class="container">

<h1>{{ingredient.name}}</h1>

<table>
    <tr>
        <td>Name</td><td>{{ingredient.name}}</td>
    </tr>
    <tr>
        <td>Farmable</td><td>{% if ingredient.farmable %}<a href="{{url_for('skyrimIngredients', farmable=true)}}">True</a>{% else %}<a href="{{url_for('skyrimIngredients', farmable=false)}}">False</a>{% endif %}</td>
    </tr>
    <tr>
        <td>Weight</td><td>{{ingredient.weight}}</td>
    </tr>
    <tr>
        <td>Value</td><td>{{ingredient.value}}</td>
    </tr>
    {% for i in range(4) %}
    <tr>
        <td>Effect {{i+1}}</td><td><a href="{{url_for('skyrimEffect', name=ingredient.effects[i].name)}}">{{ingredient.effects[i].name}}</a></td>
        <!-- link to effect -->
    </tr>
    {% endfor %}
</table>

<h3><a href="{{url_for('skyrimIngredients')}}">Back to ingredients</a></h3>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</div>
</body>
</html>
