<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title>Skyrim</title>
</head>
<body>

    <div class="container">

        <div class="row">
            <section class="col-12">
    
                <nav class="breadcrumb fixed-top">
                    <a class="breadcrumb-item" href="{{url_for('home')}}">Home</a>
                    <a class="breadcrumb-item" href="{{url_for('skyrim')}}">Skyrim Alchemy</a>
                    <span class="breadcrumb-item active">Ingredients</span>
                </nav>

                <nav class="mt-5">
                    <h1>Ingredients</h1>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th><a href="{{url_for('skyrimIngredients', sortby='name')}}">Name</a></th>
                                <th><a href="{{url_for('skyrimIngredients', sortby='farmable')}}">Farmable</a></th>
                                <th><a href="{{url_for('skyrimIngredients', sortby='weight')}}">Weight</a></th>
                                <th><a href="{{url_for('skyrimIngredients', sortby='value')}}">Value</a></th>
                                <th>Modifiers</th>
                                <th>Link</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for ingredient in ingredients %}
                            <tr>
                                <td><a href="{{url_for('skyrimIngredient', name=ingredient.name)}}">{{ingredient.name}}</a></td>
                                <td>{% if ingredient.farmable %}<a href="{{url_for('skyrimIngredients', farmable=true)}}">True</a>{% else %}<a href="{{url_for('skyrimIngredients', farmable=false)}}">False</a>{% endif %}</td>
                                <td>{{ingredient.weight}}</td>
                                <td>{{ingredient.value}}</td>
                                <td style="text-align: center">
                                    {% if buffs[ingredient.name] %}<span class="badge badge-success badge-pill">*</span>{% endif %}
                                    {% if nerfs[ingredient.name] %}<span class="badge badge-danger badge-pill">*</span>{% endif %}
                                </td>
                                <td><a href="{{ingredient.link}}">UESP</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <!-- h3><a href="{{url_for('skyrim')}}">Back to Skyrim</a></h3 -->
                </nav>

                <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

            </section>
        </div>
    </div>
</body>
</html>
