<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Skyrim</title>
</head>
<body>

<div class="container">

    
    <div class="row">
        <section class="col-12">

            <nav class="breadcrumb fixed-top">
                <a class="breadcrumb-item" href="{{url_for('home')}}">Home</a>
                <a class="breadcrumb-item" href="{{url_for('all_madlibs')}}">Madlibs</a>
                <span class="breadcrumb-item active">{{name}}</span>
            </nav>

            <div class="mt-5">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        {% if ref %}
                        <h1><a href="{{ref}}">{{name}}</a></h1>
                        {% else %}
                        <h1>{{name}}</h1>
                        {% endif %}
                    </div>
                    <div class="panel-body">
                        {% for line in lines %}
                        <p>{{line}}</p>
                        {% endfor %}
                    </div>
                    <div class="panel-footer">
                        <a href="{{url_for('madlibs', name=name)}}" class="btn btn-primary">Next</a>
                    </div>
                </div>
            </div>

            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        </section>
    </div>
</div>
</body>
</html>
