<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title>Skyrim</title>
</head>
<body>

    <div class="container">

        <div class="row">
            <section class="col-12">
    
                <nav class="breadcrumb fixed-top">
                    <a class="breadcrumb-item" href="{{url_for('home')}}">Home</a>
                    <a class="breadcrumb-item" href="{{url_for('skyrim')}}">Skyrim Alchemy</a>
                    <span class="breadcrumb-item active">Potions</span>
                </nav>

                <div class="mt-5">
                    <h1>Potions</h1>

                    <table class="table mb-3">
                        <tr>
                            <th>Ingredients</th><th>Value</th><th>Effects</th>
                        </tr>
                        {% for potion in potions %}
                        <tr>
                            <td>
                                {% for ingredient in potion.ingredients %}
                                <a href="{{url_for('skyrimIngredient', name=ingredient.name)}}">{{ingredient.name}}</a>{{ ", " if not loop.last else "" }}
                                {% endfor %}
                            </td>
                            <td>{{potion.value}}</td>
                            <td>
                                {% for effect_name in potion.effects.keys() %}
                                <a href="{{url_for('skyrimEffect', name=effect_name)}}">{{effect_name}}</a>{{ ", " if not loop.last else "" }}
                                {% endfor %}
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
    
                    <h2>Ingredients</h2>
                    <ul class="list-group mb-5">
                        {% for ingredient in ingredients %}
                        <li class="list-group-item"><a href="{{url_for('skyrimIngredient', name=ingredient)}}">{{ingredient}}</a></li>
                        {% endfor %}
                    </ul>
    
                </div>
                <!-- h3><a href="{{url_for('skyrim')}}">Back to Skyrim</a></h3 -->

                <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
            </section>
        </div>
    </div>
</body>
</html>
